@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Wendy";
    src: url("/wendy.ttf");
}

@font-face {
    font-family: "Miso Light";
    src: url("/miso-light.ttf");
}